<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
    "urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hello>
            <hellopage>
                <select_movie>1</select_movie>
                <select_yes_no>1</select_yes_no>
            </hellopage>
        </hello>
    </default>
</config>
